@import 'https://fonts.googleapis.com/css?family=Lato';

$text-color: #BCB7B1;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #33373D;
  color: $text-color;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  margin: 0 auto;
  height: 40em;
  background: url("https://hd.unsplash.com/photo-1450849608880-6f787542c88a");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 1.3em;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2%;
}

p {
  margin: 2%;
  margin-left: 0;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: white;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.ask-button {
  position: absolute;
  top: 28%;
  left: 45%;
  background: transparent;
  color: white;
}

.btn-default {
  margin-top: 3%;
}

.ask-button:hover {
  background: transparent;
  color: white;
}

li {
  list-style: none;
}

a, a:hover, a:visited {
  color: $text-color;
}

.display {
  width: 60%;
  margin: 0 auto;
}

form {
  margin-top: 2%;
}

input {
  display: block;
  width: 20em;
  height: 2.5em;
  border-radius: 0.3em;
  color: #353238;
  background: lighten($text-color, 15%);
  border: none;
}
