<header>
  <div class="navbar">
    <nav>
      <p>Message Board</p>
      <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    </nav>
  </div>
  <h1>But Why?</h1>
</header>

<div class="wrap">
  <div class="display">
    {{outlet}}    
  </div>
</div>
